body {background-color:#410E10;}
p {font-family: "Arial", Georgia, Serif;} 
h2 {font-family: "Arial", Georgia, Serif; font-size: 12; color:#F1EBE4}
body {color: lightyellow;}
p {font-size: 15; color:#F1EBE4}

